.divVidaEst {
    width: 100%;
}

.studentLifeImg {
    height: inherit !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.InfoEst {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    margin-top: 1.5%;
    position: absolute;
}

.InfoEst div {
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0 30px 0;
}

.InfoEst h1, .InfoEst h2, .InfoEst p {
    color: white;
}

.studentLifeImg {
    height: 90vh;
}

#vidEstButton {
    border: 1px solid white;
    color: black;
    background-color: white;
}

#vidEstButton:hover, #vidEstButton:active {
    color: white !important;
    background-color: transparent;
}

/* Laptops L */

@media screen and (min-width: 1440px) {
    .divVidaEst {
        height: 90vh;
    }
    .InfoEst {
        max-height: 55vh;
    }
    .InfoEst div {
        width: 70%;
    }
    .InfoEst h1 {
        font-size: 2.7em;
        width: 50%;
        margin: 0 25%;
        text-align: center;
        /* border: 1px solid yellow; */
    }
    .InfoEst h2 {
        display: none;
    }
    .InfoEst p {
        font-size: 1.5em;
        text-align: justify;
        margin: 5vh 0;
    }
    #vidEstButton {
        padding: 15px 45px;
        font-size: 1.25em;
        width: 30%;
        margin: 0 35%;
    }
}

/* Laptops M */

@media screen and (min-width: 961px) and (max-width: 1440px) {
    .divVidaEst {
        height: 85vh;
    }
    .InfoEst {
        min-height: 40vh;
    }
    .InfoEst h1 {
        display: none;
    }
    .InfoEst h2 {
        margin-top: 15px;
        font-size: 2.5em;
        text-align: center;
    }
    .InfoEst p {
        font-size: 1.4em;
        text-align: justify;
        margin: 5vh 0;
    }
    .InfoEst div {
        width: 85%;
    }
    #vidEstButton {
        font-size: 1.3em;
        width: 40%;
        margin: 0 30%;
    }
}

/* Para dispositivos Moviles y tablets */

@media screen and (max-width: 960px) {}

/* Para Tablets */
@media screen and (min-width: 451px) and (max-width: 960px) {
 
    .divVidaEst {
        height: 85vh;
    }
    .InfoEst {
        max-height: 60vh;
    }

    .InfoEst h1 {
        display: none;
    }
    .InfoEst h2 {
        margin-top: 15px;
        font-size: 1.9em;
        text-align: center;
    }
    .InfoEst p {
        font-size: 1.1em;
        text-align: justify;
        margin: 5vh 0;
    }
    .InfoEst div {
        width: 85%;
    }
    #vidEstButton {
        font-size: 1.1em;
        width: 60%;
        margin: 0 20%;
    }
}

/* Para dispositivos moviles mas grandes*/

@media screen and (min-width: 361px) and (max-width: 450px) {
    .divVidaEst {
        height: 85vh;
        margin-top: 25px;
    }
    .InfoEst {
        max-height: 450px;
        margin-top: calc((85vh - 450px)/2) !important;
    }
    .InfoEst h1 {
        display: none;
    }
    .InfoEst h2 {
        margin-top: 15px;
        font-size: 1.7em;
        text-align: center;
    }
    .InfoEst p {
        font-size: 1em;
        text-align: justify;
        margin: 5vh 0;
    }
    .InfoEst div {
        width: 85%;
    }
    #vidEstButton {
        font-size: 1em;
        width: 60%;
        margin: 0 20%;
    }
}

/*Para dispositivos mini*/

@media screen and (max-width: 360px) {
    .divVidaEst {
        height: 80vh;
        margin-top: 50px;
    }
    .InfoEst {
        height: 400px;
        margin-top: calc((80vh - 400px)/2);
    }
    .InfoEst h1 {
        display: none;
    }
    .InfoEst h2 {
        margin-top: 15px;
        font-size: 1.5em;
        text-align: center;
    }
    .InfoEst p {
        font-size: 0.9em;
        text-align: justify;
        margin: 5vh 0;
    }
    .InfoEst div {
        width: 85%;
    }
    #vidEstButton {
        font-size: 1em;
        width: 60%;
        margin: 0 20%;
    }
}