*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Montserrat', sans-serif ;
}

html{
  background-color: #fff;
}

body {
  max-width: 100vw !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100% !important; */
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*  */

/* 
@font-face {
  font-family: 'montserratbold';
  src: url('./sources/fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('./sources/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('./sources/fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('./sources/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}  */